body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s, box-shadow 0.3s;
    user-select: none;
    transform: translate(0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1));
    border-radius: 50%; /* Makes the buttons round */
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background: linear-gradient(45deg, #ea4066, #b31c3c);
    color: white;
}

.yellow {
    background: linear-gradient(45deg, #ff9642, #d86c11);
    color: white;
}

.green {
    background: linear-gradient(45deg, #6dc6d1, #458a8d);
    color: white;
}

.purple {
    background: linear-gradient(45deg, #8d88f9, #5c4ec3);
    color: white;
}

.flash {
    background-color: white;
    color: black;
}

.btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
}
